Talentful Confidentiality Agreement
data
project-proposals
*.ipynb_checkpoints
*.pem
*.pyc
*.swp
aws_installs.sh
ystem.
*.pdf
Pasted image at 2016_08_04 10_21 AM.png
src/_UD_transforms_separate_files/*
shard*
/Presentation/
notes.txt
